<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div class="articles content">
        <h2>All articles</h2>

        <% if (articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <a class="single" href="/articles/<%= article.id %>">
                    <h3 class="title"><%= article.title %></h3>
                    <p class="snippet"><%= article.snippet %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>No articles to display...</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>